# MySQL
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
MYSQL_DATABASE=user_db
MYSQL_USER=user_app
MYSQL_PASSWORD=CHANGE_ME_APP_PASSWORD

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME_MONGO_PASSWORD
MONGO_DB=blog_db

# API
MONGO_URL=mongodb://admin:CHANGE_ME_MONGO_PASSWORD@db_mongo:27017
MYSQL_URL=mysql+pymysql://user_app:CHANGE_ME_APP_PASSWORD@db_mysql/user_db